*{
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
}

.div-general{
    display: flex;
    height: 100%;
}

.div-imagen{
    width: 70%;
    background-image: url("../../assets/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario-login{
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.example-form-width{
    width: 100%;
}