<div class="div-general">
    <div class="div-imagen"></div>
    <div class="formulario-login">

        <h1>Login</h1>

        <mat-form-field class="example-form-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="usuario@gmail.com" [(ngModel)]="usuario.email">
        </mat-form-field>
        <br>
        <mat-form-field class="example-form-width">
            <mat-label>Clave</mat-label>
            <input matInput type="password" [(ngModel)]="usuario.pass">
        </mat-form-field>
        <br>
        <button mat-raised-button color='primary' (click)='Ingresar()' style="width: 100%;">Ingresar</button>

    </div>
</div>
